<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
    <ion-title>Ajout d'espace</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="submit()" id="submit">
        <ion-icon name="checkmark" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form-area [area]="area"></form-area>
  <helper-text *ngIf="area.name" [areaName]="area.name" [parentNames]="parentNames"></helper-text>
</ion-content>
