 //--------Areas Arboresences--------\\

  /**=================================================================**/
  /**------------------Theme modification ------------------------**/
  ion-card{
    box-shadow:none !important;
    height:48px;
  }

  ion-card-title{
    --color:var(--ion-color-tertiary-contrast);
    text-transform: capitalize;
    margin:-4px;
    margin-right: 0px;
  }

     /**=================================================================**/
    /**------------------ion item ------------------------**/
    .arealist{
      --background:var(--ion-color-tertiary);
      --highlight-height:2px;
      --inner-border-width:0px;
    }

    .ellipsis-button{
      --background:var(--ion-color-tertiary);
      --box-shadow:unset;
      font-size:14px;
      --color:var(--ion-color-tertiary-contrast);
      margin-inline-end:-16px;
      height:40px;
    }

    .central-item {
      width: 100%;
    }
