<form class="suggestion-form">
  <mat-form-field class="suggestion-full-width" [hideRequiredMarker]="true">
    <input type="text" placeholder="Type" aria-label="Type" required
    [(ngModel)]="choosenOption" (ngModelChange)="onChange($event)"
    matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
