// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/** Ionic CSS Variables **/
:root {

  /**=================================================================**/
  /**------------------ Couleurs du thèmes ---------------------------**/

  /** primary **/
  --ion-color-primary: #c9b596;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #261f13;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #897b66;
  --ion-color-primary-tint: #d7c9b3;

  /** secondary **/
  --ion-color-secondary: #a2c523;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #2c3220;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #8fad1f;
  --ion-color-secondary-tint: #abcb39;

  /** tertiary **/
  --ion-color-tertiary: #ecf8c3;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #3a3d32;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #c1d677;
  --ion-color-tertiary-tint: #afbe7e;
  /** success **/
  --ion-color-success: #20ca20;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #1cb21c;
  --ion-color-success-tint: #36cf36;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #d5d6e1;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #1e2422;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  /**=================================================================**/
  /**------------------Modifications du thème ------------------------**/
  ion-tab-bar {
    border-color : var(--ion-color-primary);
    height : 52px;
  }

  ion-tab-button {
    --color: var(--ion-color-primary-shade);
    --color-selected: var(--ion-color-secondary);
  }

  ion-toolbar {
    --background : var(--ion-color-primary);
    --color : var(--ion-color-primary-contrast);
    --min-height : 48px;
    height : 48px;
  }

  ion-title {
    font-size : 14px;
    text-transform : uppercase;
    font-weight : bold;
  }

  ion-input {
    --color : var(--ion-color-primary-contrast);
  }

  ion-item {
    --color : var(--ion-color-primary-contrast);
    --inner-border-color : var(--ion-color-secondary);
    --highlight-color-focused : var(--ion-color-secondary);
    --padding-start : 0px;
  }

  ion-back-button {
    --icon-padding-end : -2px;
    --icon-padding-start : -2px;
    --margin-end : -2px;
  }

  ion-button{
    --padding-end : 12px;
    --padding-start : 12px;
    --padding-top : 12px;
    --padding-bottom : 12px;
    font-size: 18px;
  }

  ion-fab-button{
    --background:var(--ion-color-secondary);
    --color:var(--ion-color-secondary-contrast);
  }
}
