table{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    margin-top: 8px;
}

.infos{
    height: 28px;
}

.infos > .left{
    width: 28px;
}

.infos > td{
    color: var(--ion-color-secondary);
}

td > ion-icon {
    font-size: 20px;
}

.otherinfos > td{
    font-size: 14px;
    color: var(--ion-color-secondary-contrast);
}

.otherinfos > .left{
    width: 100px;
    font-size: 13px;
}

ion-item{
    font-size: 14px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    margin-top: 8px;
    --background: var(--ion-color-tertiary);
    --inner-border-width: 0;
    --border-radius: 5px;
}

ion-label{
    margin: 0 8px;
    color: var(--ion-color-tertiary-contrast);
}

ion-checkbox{
    --border-color: var(--ion-color-secondary);
    --border-color-checked: var(--ion-color-secondary);
    --checkmark-color: var(--ion-color-secondary);
    --background-checked: white;
    --size: 20px;
}

