<ion-header>
  <ion-toolbar>
      <ng-container *ngIf="parentArea; else back">

          <ion-buttons slot="start">
              <ion-back-button></ion-back-button>
          </ion-buttons>
      </ng-container>

      <ng-template #back>
          <ion-buttons slot="start">
              <ion-button slot = "start" (click)="goBack()">
                  <ion-icon name="arrow-back"></ion-icon>
              </ion-button>
          </ion-buttons>
      </ng-template>


      <ng-container *ngIf="parentArea; else noArea">
          <ion-title>{{ parentArea.name }}</ion-title>

          <ion-buttons slot="end">
              <ion-button (click)="selectArea()" size="large">
                  <ion-icon name="checkbox-outline"></ion-icon>
              </ion-button>
            </ion-buttons>

      </ng-container>

      <ng-template #noArea>
        <ion-title>{{ title }}</ion-title>
      </ng-template>



  </ion-toolbar>
</ion-header>

<ion-content padding>

 <view-areas [areas]="childAreas" [link]="link"></view-areas>

</ion-content>
