<span *ngFor="let operation of operationsStored">
    <div> <p class="date" *ngIf="operation.date">{{ operation.date }}</p>
            <ion-card >
                <ion-card-title>{{ operation.label.name }} {{ operation.vegetable.variety }} {{ operation.vegetable.name }}</ion-card-title>
                <ion-card-subtitle>
                    <span *ngFor="let parent of parentAreas[operation.id]">
                    {{parent}} >
                    </span>
                    {{operation.area.name}}
                </ion-card-subtitle>
            </ion-card>
    </div>
</span>

