<virtual-scroller #scroll [items]="operationsStored">
    <span id="for" *ngFor="let operation of scroll.viewPortItems">

        <p class="date" *ngIf="operation.date">
            {{ operation.date }}
        </p>

        <span *ngIf="operation.done === true; else notDone">
            <ion-card class="done" (click)="displayActionSheet($event, operation)">
                <ion-card-title class="donetitle">
                    {{ operation.label.name }} {{ operation.vegetable.variety }} {{ operation.vegetable.name }}
                </ion-card-title>
                <ion-card-subtitle class="donesubtitle">
                    <span *ngFor="let parent of parentAreas[operation.id]">
                    {{parent}} >
                    </span>
                    {{operation.area.name}}
                </ion-card-subtitle>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-card>
        </span>

        <ng-template #notDone>
            <ion-card (click)="displayActionSheet($event, operation)">
                <ion-card-title>
                    {{ operation.label.name }} {{ operation.vegetable.variety }} {{ operation.vegetable.name }}
                </ion-card-title>
                <ion-card-subtitle>
                    <span *ngFor="let parent of parentAreas[operation.id]">
                    {{parent}} >
                    </span>
                    {{operation.area.name}}
                </ion-card-subtitle>
            </ion-card>
        </ng-template>

    </span>
</virtual-scroller>
