ion-card {
    margin-top: 3rem;
    box-shadow: none !important;
    border: 1px solid var(--ion-color-tertiary-shade);;
    --color: var(--ion-color-tertiary-contrast);
}
ion-card.fillBackground {
    border: none;
    --background: var(--ion-color-tertiary);
}
#parentNames {
    font-weight: lighter;
    --color: var(--ion-color-secondary-shade);
    padding-top: 4px;
}
.right-arrow {
    padding: 0.3em;
    font-weight: 500;
}
